

{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Importação das Fonts Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Reset Geral */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    background: #1F1517;
    color: #FFF;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ================= HEADER ================= */

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    gap: 24px;
    color: #FFF2E780;
    margin-top: 9px;
}

.menu a:hover {
    color: #fff;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
    margin-top: 8px;
}

.github:hover {
    color: #a45a49;
}

/* ================= MAIN ================= */

main {
    display: flex;
    flex-direction: column;
}

.container {
    background: #1B1012;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    max-width: 1120px;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}

/* Destaque */

.marrom {
    color: #a45a49;
}

.amarelo {
    color: #e7a80e;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
}

.subtitle {
    color: #c7bab3;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Galeria */

.images {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
}

.images img {
    width: 100%;
    border-radius: 0.5rem;
}

/* ================= BOTÃO ================= */

.button {
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateY(-50%);
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #a45a49;
    transition: 0.3s;
}

button:hover {
    background: #783f37;
}

/* ================= RECEITAS ================= */

.receitas {
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

article {
    column-count: 2;
}

.card-2 {
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.card-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cappuccino {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.descricao {
    color: #c7bab3;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.author img {
    border-radius: 50%;
    width: 1.5rem;
}

/* ================= FOOTER ================= */

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181a;
}

/* ================= RESPONSIVIDADE ================= */

@media screen and (max-width: 768px) {

    .images {
        column-count: 1;
    }

    article {
        display: flex;
        flex-direction: column;
    }

}
